# --- CONFIGURATION DE LA BASE DE DONNÉES ---

# Si la BDD est sur la même machine (hors Docker) : utilisez host.docker.internal
# Si la BDD est sur un serveur distant : mettez l'adresse IP (ex: 192.168.1.50 ou api.monserveur.com)
DB_HOST=db_host
DB_PORT=db_port 
DB_NAME=db_edt_p 
DB_USER=db_user 
DB_PASSWORD=db_password
